<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/UserNews.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/AddResource.jsp</url-pattern>
            <url-pattern>/News.jsp</url-pattern>
            <url-pattern>/ContactUs.jsp</url-pattern>
            <url-pattern>/UserContactUs.jsp</url-pattern>
            <url-pattern>/UserMap.jsp</url-pattern>
            <url-pattern>/SignUp.jsp</url-pattern>
            <url-pattern>/LoginAgain.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/UserAboutUs.jsp</url-pattern>
            <url-pattern>/UserHome.jsp</url-pattern>
            <url-pattern>/AddUser.jsp</url-pattern>
            <url-pattern>/Map.jsp</url-pattern>
            <url-pattern>/AboutUs.jsp</url-pattern>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
